body{
  background-color: #4C87F8 ;
  
}

.boxes-container {
  display:flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width:90%;
}

#editor{
  width: 100%;
  height: 80vh;
  resize:none;
  padding: 10px;
  overflow: auto;
  border-radius: 25px;
}

img{
  max-width: 100%;
}

#preview{
  background-color: white;
  border-radius: 5px;
}

textarea{
  font-family: Raleway;
}

/*adds font Raleway*/
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url("./Fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
